<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499572790335-l3sgm557cuttprg0sv0eji17r5k5o0ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499572790335-l3sgm557cuttprg0sv0eji17r5k5o0ro</string>
	<key>API_KEY</key>
	<string>AIzaSyCm7lIcM1uHPW8NtjHb5nhjxplAWbL5Q-8</string>
	<key>GCM_SENDER_ID</key>
	<string>499572790335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikonfete.ikonfete</string>
	<key>PROJECT_ID</key>
	<string>ikonfete-59dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>ikonfete-59dcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499572790335:ios:84ebcec00d442852</string>
	<key>DATABASE_URL</key>
	<string>https://ikonfete-59dcc.firebaseio.com</string>
</dict>
</plist>